In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

<hr>

### Import Dataset

In [25]:
df = pd.read_csv("MotorcycleData_Clean.csv")
df.head(10)

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,private seller,Clear
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,private seller,Clear
2,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,dealer,Clear
3,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,owner,Clear
4,Used,24900,5548,2010.0,Harley-Davidson,Touring,Touring,False,dealer,Clear
5,Used,1400,17868,1975.0,Harley-Davidson,Sportster,Other,False,private seller,Clear
6,Used,5100,2800,2014.0,Harley-Davidson,Touring,Touring,False,private seller,Clear
7,Used,8000,3000,2015.0,Harley-Davidson,Sportster,Cruiser,False,private seller,Clear
8,Used,2125,30,1978.0,Harley-Davidson,Touring,Cruiser,False,private seller,Clear
9,Used,11100,5800,2011.0,Harley-Davidson,Touring,Touring,False,private seller,Clear

### - Parameter 1 -
Based on Price, with 3 Parameter. Default:
- Condition
- Model
- Type

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
df['par1'] = df['Condition'] + ',' + df['Model'] + ',' + df['Type'] 

ext = CountVectorizer(
        tokenizer = lambda x: x.split(';'))
param1 = ext.fit_transform(df['par1'])

print(ext.get_feature_names()) #tokenizer
print(len(ext.get_feature_names()))
df

['new,other,cruiser', 'new,softail,cruiser', 'new,softail,touring', 'new,touring,gasoline', 'new,touring,sport bike', 'new,touring,touring', 'used,dyna,cruiser', 'used,dyna,gasoline', 'used,dyna,other', 'used,dyna,sport bike', 'used,dyna,sport touring', 'used,dyna,standard', 'used,dyna,touring', 'used,other,cruiser', 'used,other,gasoline', 'used,other,other', 'used,other,sport bike', 'used,other,sport touring', 'used,other,standard', 'used,other,touring', 'used,softail,cruiser', 'used,softail,gasoline', 'used,softail,other', 'used,softail,sport bike', 'used,softail,sport touring', 'used,softail,standard', 'used,softail,touring', 'used,sportster,cruiser', 'used,sportster,gasoline', 'used,sportster,other', 'used,sportster,sport bike', 'used,sportster,sport touring', 'used,sportster,standard', 'used,touring,cruiser', 'used,touring,gasoline', 'used,touring,other', 'used,touring,sport touring', 'used,touring,standard', 'used,touring,touring', 'used,v-rod,cruiser', 'used,v-rod,other', 'used,v-rod,sport bike', 'used,v-rod,sport touring', 'used,v-rod,standard', 'used,v-rod,touring']
45

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile,par1
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,private seller,Clear,"Used,Touring,Cruiser"
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,private seller,Clear,"Used,Touring,Sport Touring"
2,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,dealer,Clear,"Used,Touring,Touring"
3,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,owner,Clear,"Used,Touring,Touring"
4,Used,24900,5548,2010.0,Harley-Davidson,Touring,Touring,False,dealer,Clear,"Used,Touring,Touring"
...,...,...,...,...,...,...,...,...,...,...,...
2400,Used,5000,12583,2004.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard"
2401,Used,5000,19931,2006.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard"
2402,Used,8900,9305,2012.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard"
2403,Used,3900,23681,2004.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard"
2404,Used,12970,448,2016.0,Harley-Davidson,Other,Gasoline,False,dealer,Clear,"Used,Other,Gasoline"

In [4]:
score1 = cosine_similarity(param1)
score1

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

### - Parameter 2 -
Without Price, 4 parameter:
- Condition
- Model
- Type
- Vehicle Tile

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
df['par2'] = df['Condition'] + ';' + df['Model'] + ',' + df['Type'] + ',' + df['Vehicle_Tile']

ext1 = CountVectorizer(
        tokenizer = lambda x: x.split(';'))
param2 = ext1.fit_transform(df['par2'])

print(ext1.get_feature_names()) #tokenizer
print(len(ext1.get_feature_names()))
df

[' reconstructed', 'dyna,cruiser,clear', 'dyna,cruiser,rebuilt, rebuildable &amp', 'dyna,cruiser,salvage', 'dyna,gasoline,clear', 'dyna,other,clear', 'dyna,other,salvage', 'dyna,sport bike,clear', 'dyna,sport touring,clear', 'dyna,standard,clear', 'dyna,touring,clear', 'new', 'other,cruiser,clear', 'other,cruiser,rebuilt, rebuildable &amp', 'other,gasoline,clear', 'other,other,clear', 'other,other,rebuilt, rebuildable &amp', 'other,sport bike,clear', 'other,sport touring,clear', 'other,standard,clear', 'other,standard,rebuilt, rebuildable &amp', 'other,standard,salvage', 'other,touring,clear', 'softail,cruiser,clear', 'softail,cruiser,rebuilt, rebuildable &amp', 'softail,cruiser,salvage', 'softail,gasoline,clear', 'softail,other,clear', 'softail,sport bike,clear', 'softail,sport bike,rebuilt, rebuildable &amp', 'softail,sport touring,clear', 'softail,standard,clear', 'softail,standard,rebuilt, rebuildable &amp', 'softail,touring,clear', 'softail,touring,rebuilt, rebuildable &amp', 'softail,touring,salvage', 'sportster,cruiser,clear', 'sportster,cruiser,salvage', 'sportster,gasoline,clear', 'sportster,other,clear', 'sportster,sport bike,clear', 'sportster,sport bike,rebuilt, rebuildable &amp', 'sportster,sport touring,clear', 'sportster,standard,clear', 'sportster,standard,rebuilt, rebuildable &amp', 'touring,cruiser,clear', 'touring,cruiser,rebuilt, rebuildable &amp', 'touring,gasoline,clear', 'touring,gasoline,salvage', 'touring,other,clear', 'touring,sport bike,clear', 'touring,sport touring,clear', 'touring,sport touring,rebuilt, rebuildable &amp', 'touring,sport touring,salvage', 'touring,standard,clear', 'touring,touring,clear', 'touring,touring,rebuilt, rebuildable &amp', 'touring,touring,salvage', 'used', 'v-rod,cruiser,clear', 'v-rod,cruiser,rebuilt, rebuildable &amp', 'v-rod,other,clear', 'v-rod,sport bike,clear', 'v-rod,sport touring,clear', 'v-rod,standard,clear', 'v-rod,touring,clear']
66

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile,par1,par2
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,private seller,Clear,"Used,Touring,Cruiser","Used;Touring,Cruiser,Clear"
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,private seller,Clear,"Used,Touring,Sport Touring","Used;Touring,Sport Touring,Clear"
2,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,dealer,Clear,"Used,Touring,Touring","Used;Touring,Touring,Clear"
3,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,owner,Clear,"Used,Touring,Touring","Used;Touring,Touring,Clear"
4,Used,24900,5548,2010.0,Harley-Davidson,Touring,Touring,False,dealer,Clear,"Used,Touring,Touring","Used;Touring,Touring,Clear"
...,...,...,...,...,...,...,...,...,...,...,...,...
2400,Used,5000,12583,2004.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard","Used;Other,Standard,Salvage"
2401,Used,5000,19931,2006.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard","Used;Other,Standard,Salvage"
2402,Used,8900,9305,2012.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard","Used;Other,Standard,Salvage"
2403,Used,3900,23681,2004.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard","Used;Other,Standard,Salvage"
2404,Used,12970,448,2016.0,Harley-Davidson,Other,Gasoline,False,dealer,Clear,"Used,Other,Gasoline","Used;Other,Gasoline,Clear"

In [6]:
score2 = cosine_similarity(param2)
score2

array([[1. , 0.5, 0.5, ..., 0.5, 0.5, 0.5],
       [0.5, 1. , 0.5, ..., 0.5, 0.5, 0.5],
       [0.5, 0.5, 1. , ..., 0.5, 0.5, 0.5],
       ...,
       [0.5, 0.5, 0.5, ..., 1. , 1. , 0.5],
       [0.5, 0.5, 0.5, ..., 1. , 1. , 0.5],
       [0.5, 0.5, 0.5, ..., 0.5, 0.5, 1. ]])

### - Parameter 3 -
Without Price, 4 parameter:
- Condition
- Model
- Type
- Seller Status

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
df['par3'] = df['Condition'] + ';' + df['Model'] + ',' + df['Type'] + ',' + df['Seller_Status']

ext3 =  CountVectorizer()
param3 = ext3.fit_transform(df['par3'])

print(ext3.get_feature_names())
print(len(ext3.get_feature_names()))
df

['bike', 'by', 'carrigan', 'cruiser', 'davidson', 'dealer', 'dyna', 'gasoline', 'group', 'harley', 'motor', 'new', 'onwer', 'other', 'owner', 'private', 'ricky', 'rod', 'seller', 'shoreline', 'softail', 'sport', 'sportster', 'standard', 'touring', 'used']
26

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile,par1,par2,par3
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,private seller,Clear,"Used,Touring,Cruiser","Used;Touring,Cruiser,Clear","Used;Touring,Cruiser,private seller"
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,private seller,Clear,"Used,Touring,Sport Touring","Used;Touring,Sport Touring,Clear","Used;Touring,Sport Touring,private seller"
2,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,dealer,Clear,"Used,Touring,Touring","Used;Touring,Touring,Clear","Used;Touring,Touring,dealer"
3,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,owner,Clear,"Used,Touring,Touring","Used;Touring,Touring,Clear","Used;Touring,Touring,owner"
4,Used,24900,5548,2010.0,Harley-Davidson,Touring,Touring,False,dealer,Clear,"Used,Touring,Touring","Used;Touring,Touring,Clear","Used;Touring,Touring,dealer"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400,Used,5000,12583,2004.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard","Used;Other,Standard,Salvage","Used;Other,Standard,dealer"
2401,Used,5000,19931,2006.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard","Used;Other,Standard,Salvage","Used;Other,Standard,dealer"
2402,Used,8900,9305,2012.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard","Used;Other,Standard,Salvage","Used;Other,Standard,dealer"
2403,Used,3900,23681,2004.0,Harley-Davidson,Other,Standard,True,dealer,Salvage,"Used,Other,Standard","Used;Other,Standard,Salvage","Used;Other,Standard,dealer"
2404,Used,12970,448,2016.0,Harley-Davidson,Other,Gasoline,False,dealer,Clear,"Used,Other,Gasoline","Used;Other,Gasoline,Clear","Used;Other,Gasoline,dealer"

In [8]:
score3 = cosine_similarity(param3)
score3

array([[1.        , 0.79056942, 0.54772256, ..., 0.2236068 , 0.2236068 ,
        0.2236068 ],
       [0.79056942, 1.        , 0.72168784, ..., 0.1767767 , 0.1767767 ,
        0.1767767 ],
       [0.54772256, 0.72168784, 1.        , ..., 0.40824829, 0.40824829,
        0.40824829],
       ...,
       [0.2236068 , 0.1767767 , 0.40824829, ..., 1.        , 1.        ,
        0.75      ],
       [0.2236068 , 0.1767767 , 0.40824829, ..., 1.        , 1.        ,
        0.75      ],
       [0.2236068 , 0.1767767 , 0.40824829, ..., 0.75      , 0.75      ,
        1.        ]])

In [9]:
import pickle

with open("modelPickle1", "wb") as modPick1:
    pickle.dump(score1, modPick1)
    
with open('modelPickle2','wb') as modPick2:
    pickle.dump(score2, modPick2)
    
with open('modelPickle3','wb') as modPick3:
    pickle.dump(score3,modPick3)

In [26]:
# CariHarley = 20000
# indexHarga = df[df['Price'] == CariHarley].index.values[0]
# indexHarga

In [27]:
# harley = list(enumerate(score1[indexHarga]))
# # animeSama
# harley[0]

In [28]:
# harley = sorted(harley, key=lambda x:x[1], reverse=True)
# # harley

In [20]:
# for i in harley[:10]:
#     print(harley.iloc[i[0]]['Price'])

In [29]:
# df[df['Model_Year'] == 1940.0]

In [30]:
# df[df['Type'] == 'Sport Touring'][:10]

In [31]:
# import pickle

# with open("modelPickle1", "wb") as modPick1:
#     pickle.dump(score, modPick1)
    
# with open('modelPickle2','wb') as modPick2:
#     pickle.dump(score2, modPick2)
    
# with open('modelPickle3','wb') as modPick3:
#     pickle.dump(score3,modPick3)

# with open('modelPickle4','wb') as modPick4:
#     pickle.dump(score4,modPick4)